# Airflow Configuration
AIRFLOW_UID=50000

# Snowflake Connection Details
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ACCOUNT=your_snowflake_account_identifier
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=TELEMETRY_DB
SNOWFLAKE_SCHEMA=SILVER
SNOWFLAKE_ROLE=SYSADMIN

# AWS S3 Storage
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=your-telemetry-landing-bucket

# Google Gemini API
GEMINI_API_KEY=your_gemini_api_key


GITHUB_TOKEN=ghp_yourActualGitHubTokenHere
GITHUB_REPO_OWNER=your_github_username_or_org
GITHUB_REPO_NAME=your_target_repo_name