# Environment & Credentials
.env
*.pem
*.key

# Python / Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.venv/
venv/

# Airflow
logs/
plugins/
*.pid

# dbt
target/
dbt_packages/
dbt_modules/
*.log
# Local Data Drops
data/
*.jsonl
*.gz

# IDE / System
.vscode/
.idea/
.DS_Store