# Environment & Credentials
.env
*.pem
*.key

# Python / Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.venv/
venv/

# Airflow
logs/
plugins/
*.pid

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Local Data Drops
data/
*.jsonl
*.gz

# IDE / System
.vscode/
.idea/
.DS_Store